#intestazione{width: 20000px;
height: 50px;
background-color:rgb(73, 148, 247);
background-image:url(../img/pattern.png);
border-collapse: collapse;
background-size:200px;

}

.logo{width:100px;}

.titolo{width: 600px;}

span{color: aqua;}